@import '../../scss/mixins';
.btn-step {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3.5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  @include gradient(right);
  color: var(--color-white);
  z-index: 1;
& span {
    margin-left: 3px;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: var(--shadow-dark);
    &::after{
      transform: scaleX(1.4) scaleY(1.6);
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: var(--shadow-light-dark);
  }
}