@import "../../scss//keyframes";
.btn-inline {
  display: inline-block;
  border: none;
  font-size: inherit;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 10;
  position: relative;
  & span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: var(--color-primary-dark);
    outline: none;
    animation: pulsate-text 1s infinite;
    span {
      margin-left: 8px;
    }
  }
}
