@import './mixins';
.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-gray-light-1);
  box-shadow: var(--shadow-dark);

  @include responsive(largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}